/*
#
# All Rights (c) to @y053f01 2020
# https://y053f01.github.io
#
*/

body{
background-color:rgba(125, 140, 150, 0.09);
}
.aaaa{
left: 0px;
right: 0px;
bottom: 0px;
position: fixed;
height: 49px;
box-shadow:0 1px 6px rgba(32, 33, 36, 0.10);
z-index: 1;
padding: 2px;
background-color: rgb(252, 251, 255);
transition: .4s;
-ms-transition: .4s;
-o-transition: .4s;
-moz-transition: .4s;
-webkit-transition: .4s;
display: block;
transform: translate3d(0, 0%, 0);
-o-transform: translate3d(0, 0%, 0);
-webkit-transform: translate3d(0, 0%, 0);
-moz-transform: translate3d(0, 0%, 0);
-ms-transform: translate3d(0, 0%, 0);
}
.aaaa-aftr{
left: 0px;
right: 0px;
bottom: 0px;
position: fixed;
transition: .4s;
-ms-transition: .4s;
-o-transition: .4s;
-moz-transition: .4s;
-webkit-transition: .4s;
height: 49px;
border-top: 1px dotted #999;
z-index: 1;
padding: 2px;
display: block;
background-color: rgb(252, 251, 255);
transform: translate3d(0, 100%, 0);
-o-transform: translate3d(0, 100%, 0);
-webkit-transform: translate3d(0, 100%, 0);
-moz-transform: translate3d(0, 100%, 0);
-ms-transform: translate3d(0, 100%, 0);
}
.aaab, 
.aaac, 
.aaad, 
.aaae{
width: 17%;
height: 28px;
margin-top: 5px;
align-content: center;
display: inline-block;
border-radius: 5px;
font-size: 23px;
cursor: pointer;
color: #fff;
margin-bottom: 3px;
text-shadow: 
			-0.8px/* - mean left */ -0.8px/*- mean up */ 4px/* + mean more blur */ rgba(0, 0, 0, 0.6),
			1.3px 1.3px 3px rgba(0, 0, 0, 0.9);
}

.aaab{
float: left;
margin-left: 4%;
}
.aaab:hover, 
.aaac:hover, 
.aaad:hover,
.aaae:hover{
color: blue;
text-shadow: none;
}

i.iconanim:hover{	
animation-name: bottombaran;
animation-duration: .15s;
animation-iteration-count:1;
}
@keyframes bottombaran{
0%{transform: translate3d(0, 0px, 0)}
5%{transform: translate3d(0, -1px, 0)}
10%{transform: translate3d(0, -2px, 0)}
15%{transform: translate3d(0, -3px, 0)}
20%{transform: translate3d(0, -4px, 0)}
25%{transform: translate3d(0, -5px, 0)}
30%{transform: translate3d(0, -6px, 0)}
35%{transform: translate3d(0, -7px, 0)}
40%{transform: translate3d(0, -8px, 0)}
45%{transform: translate3d(0, -9px, 0)}
50%{transform: translate3d(0, -10px, 0)}/*this is middle*/
55%{transform: translate3d(0, -9px, 0)} 
60%{transform: translate3d(0, -8px, 0)}
65%{transform: translate3d(0, -7px, 0)}
70%{transform: translate3d(0, -6px, 0)}
75%{transform: translate3d(0, -5px, 0)}
80%{transform: translate3d(0, -4px, 0)}
85%{transform: translate3d(0, -3px, 0)}
90%{transform: translate3d(0, -2px, 0)}
95%{transform: translate3d(0, -1px, 0)}
100%{transform: translate3d(0, 0px, 0)}
}

.aaac{
margin-right: 4%;
margin-left: 6%;
}

.aaad{
margin-right: 6%;
margin-left: 4%;
}
.aaae{
float: right;
margin-right: 4%;
}
/*
#
# Styling body
#
*/
/*
#
# Card
#
*/
#aaai {
width: 70px;
padding: 20px;
transition: .2s;
border: 1px solid #d1d1d1; 
}

.person{
position: relative;
overflow: scroll;
-o-overflow: scroll;
-moz-overflow: scroll;
-webkit-overflow: scroll;
margin-left: 7px;
margin-right: 7px;
background-color:rgba(125, 140, 150, 0.03);
height: 100%;
}
.content{
position: fixed;
top: 1px;
z-index: -1;
right: 1px;
left: 1px;
height: 100%;
margin-left: 2px;
margin-right: 2px;
border-radius: 0px;
transition: .4s;
-ms-transition: .4s;
-o-transition: .4s;
-moz-transition: .4s;
-webkit-transition: .4s;
z-index: -1;
transform: translate3d(0, 150%, 0);
-o-transform: translate3d(0, 150%, 0);
-webkit-transform: translate3d(0, 150%, 0);
-moz-transform: translate3d(0, 150%, 0);
-ms-transform: translate3d(0, 150%, 0);
padding-bottom: 20px;
}

.content-hover{
position: fixed;
top: 1px;
z-index: -1;
right: 1px;
left: 1px;
height: 100%;
margin-left: 2px;
margin-right: 2px;
border-radius: 0px;
overflow: scroll;
-o-overflow: scroll;
-moz-overflow: scroll;
-webkit-overflow: scroll;
transition: .2s;
-o-transition: .2s;
-moz-transition: .2s;
-webkit-transition: .2s;
transition-delay: .0s;
-o-transition-delay: .0s;
-moz-transition-delay: .0s;
-webkit-transition-delay: .0s;
transform: translate3d(0, 0%, 0);
-o-transform: translate3d(0, 0%, 0);
-webkit-transform: translate3d(0, 0%, 0);
-moz-transform: translate3d(0, 0%, 0);
-ms-transform: translate3d(0, 0%, 0);
padding-bottom: 20px;
}

.content-in{

}




.profile-name-pic{
margin: 20px 7px 7px 7px;
height: 100px;
}
.messagess{
text-align: left;
padding: 10px 10px 10px 10px;
margin: 7px;
font-size: 25px;
animation-name: massegess;
-o-animation-name: massegess;
-moz-animation-name: massegess;
-webkit-animation-name: massegess;
animation-delay: 2s;
-o-animation-delay: 2s;
-moz-animation-delay: 2s;
-webkit-animation-delay: 2s;
animation-duration: 2s;
-o-animation-duration: 2s;
-moz-animation-duration: 2s;
-webkit-animation-duration: 2s;
animation-iteration-count:infinite;
-o-animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
}
@keyframes massegess{
0%{transform: translate3d(0, 0%, 0);}
10%{transform: translate3d(0, -1%, 0);}
20%{transform: translate3d(0, -2%, 0);}
30%{transform: translate3d(0, -3%, 0);}
40%{transform: translate3d(0, -4%, 0);}
50%{transform: translate3d(0, -5%, 0);}
60%{transform: translate3d(0, -4%, 0);}
70%{transform: translate3d(0, -3%, 0);}
80%{transform: translate3d(0, -2%, 0);}
90%{transform: translate3d(0, -1%, 0);}
100%{transform: translate3d(0, 0%, 0);}
}
@-o-keyframes massegess{
0%{transform: translate3d(0, 0%, 0);}
10%{transform: translate3d(0, -1%, 0);}
20%{transform: translate3d(0, -2%, 0);}
30%{transform: translate3d(0, -3%, 0);}
40%{transform: translate3d(0, -4%, 0);}
50%{transform: translate3d(0, -5%, 0);}
60%{transform: translate3d(0, -4%, 0);}
70%{transform: translate3d(0, -3%, 0);}
80%{transform: translate3d(0, -2%, 0);}
90%{transform: translate3d(0, -1%, 0);}
100%{transform: translate3d(0, 0%, 0);}
}
@-moz-keyframes massegess{
0%{transform: translate3d(0, 0%, 0);}
10%{transform: translate3d(0, -1%, 0);}
20%{transform: translate3d(0, -2%, 0);}
30%{transform: translate3d(0, -3%, 0);}
40%{transform: translate3d(0, -4%, 0);}
50%{transform: translate3d(0, -5%, 0);}
60%{transform: translate3d(0, -4%, 0);}
70%{transform: translate3d(0, -3%, 0);}
80%{transform: translate3d(0, -2%, 0);}
90%{transform: translate3d(0, -1%, 0);}
100%{transform: translate3d(0, 0%, 0);}
}
@-webkit-keyframes massegess{
0%{transform: translate3d(0, 0%, 0);}
10%{transform: translate3d(0, -1%, 0);}
20%{transform: translate3d(0, -2%, 0);}
30%{transform: translate3d(0, -3%, 0);}
40%{transform: translate3d(0, -4%, 0);}
50%{transform: translate3d(0, -5%, 0);}
60%{transform: translate3d(0, -4%, 0);}
70%{transform: translate3d(0, -3%, 0);}
80%{transform: translate3d(0, -2%, 0);}
90%{transform: translate3d(0, -1%, 0);}
100%{transform: translate3d(0, 0%, 0);}
}
.mylogo{
margin-top: 10px;
width: 70px;
float: left;
margin-left: 10px;
display: inline-block;
border-radius: 50px;
border: .5px solid #999;
box-shadow:0 1px 12px rgba(32, 33, 36, 0.55);
transform: scale3d(0.01, 0.01,1);
-o-transform: scale3d(0.01, 0.01,1);
-moz-transform: scale3d(0.01, 0.01,1);
-webkit-transform: scale3d(0.01, 0.01,1);
}

.mylogo-hover{
margin-top: 10px;
width: 70px;
float: left;
margin-left: 10px;
display: inline-block;
border-radius: 50px;
border: .5px solid #999;
box-shadow:0 1px 12px rgba(32, 33, 36, 0.55);
transform: scale3d(1, 1,1);
-o-transform: scale3d(1, 1,1);
-moz-transform: scale3d(1, 1,1);
-webkit-transform: scale3d(1, 1,1);
transition: .2s;
-o-transition: .2s;
-moz-transition: .2s;
-webkit-transition: .2s;
transition-delay: .77s;
-o-transition-delay: .77s;
-moz-transition-delay: .77s;
-webkit-transition-delay: .77s;
animation-name: mylogo;
-o-animation-name: mylogo;
-moz-animation-name: mylogo;
-webkit-animation-name: mylogo;
animation-delay: .87s;
-o-animation-delay: .87s;
-moz-animation-delay: .87s;
-webkit-animation-delay: .87s;
animation-duration: .4s;
-o-animation-duration: .4s;
-moz-animation-duration: .4s;
-webkit-animation-duration: .4s;
animation-iteration-count:1;
-o-animation-iteration-count:1;
-moz-animation-iteration-count:1;
-webkit-animation-iteration-count:1;
}
@keyframes mylogo{
0%
{transform: scale3d(1, 1, 1);}
25%
{transform: scale3d(.9, 1, 1);}
50%
{transform: scale3d(1, .9, 1);}
75%
{ transform: scale3d(.9, 1, 1);}
100%
{ transform: scale3d(1, 1, 1);}
}
@-o-keyframes mylogo{
0%
{transform: scale3d(1, 1, 1);}
25%
{transform: scale3d(.9, 1, 1);}
50%
{transform: scale3d(1, .9, 1);}
75%
{ transform: scale3d(.9, 1, 1);}
100%
{ transform: scale3d(1, 1, 1);}
}
@-moz-keyframes mylogo{
0%
{transform: scale3d(1, 1, 1);}
25%
{transform: scale3d(.9, 1, 1);}
50%
{transform: scale3d(1, .9, 1);}
75%
{ transform: scale3d(.9, 1, 1);}
100%
{ transform: scale3d(1, 1, 1);}
}
@-webkit-keyframes mylogo{
0%
{transform: scale3d(1, 1, 1);}
25%
{transform: scale3d(.9, 1, 1);}
50%
{transform: scale3d(1, .9, 1);}
75%
{ transform: scale3d(.9, 1, 1);}
100%
{ transform: scale3d(1, 1, 1);}
}
.mylogo-hover-two{
margin-top: 10px;
width: 70px;
float: left;
margin-left: 10px;
display: inline-block;
border-radius: 50px;
border: .5px solid #999;
box-shadow:0 1px 12px rgba(32, 33, 36, 0.55);
transform: scale3d(1, 1.1,1);
-o-transform: scale3d(1, 1.1,1);
-moz-transform: scale3d(1, 1.1,1);
-webkit-transform: scale3d(1, 1.1,1);
animation-name: mylogotwo;
-o-animation-name: mylogotwo;
-moz-animation-name: mylogotwo;
-webkit-animation-name: mylogotwo;
animation-duration: 1s;
-o-animation-duration: 1s;
-moz-animation-duration: 1s;
-webkit-animation-duration: 1s;
animation-iteration-count:infinite;
-o-animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
}
@keyframes mylogotwo{
0%{transform: scale3d(1, 1, 1);}
10%{transform: scale3d(1.01, .99, 1);}
20%{transform: scale3d(1.02, .98, 1);}
30%{transform: scale3d(1.03, .97, 1);}
40%{transform: scale3d(1.04, .96, 1);}
50%{transform: scale3d(1.05, .95, 1);}
60%{transform: scale3d(1.04, .96, 1);}
70%{transform: scale3d(1.03, .97, 1);}
80%{transform: scale3d(1.02, .98, 1);}
90%{transform: scale3d(1.02, .99, 1);}
100%{transform: scale3d(1, 1, 1);}
}
@-o-keyframes mylogotwo{
0%{transform: scale3d(1, 1, 1);}
10%{transform: scale3d(1.01, .99, 1);}
20%{transform: scale3d(1.02, .98, 1);}
30%{transform: scale3d(1.03, .97, 1);}
40%{transform: scale3d(1.04, .96, 1);}
50%{transform: scale3d(1.05, .95, 1);}
60%{transform: scale3d(1.04, .96, 1);}
70%{transform: scale3d(1.03, .97, 1);}
80%{transform: scale3d(1.02, .98, 1);}
90%{transform: scale3d(1.02, .99, 1);}
100%{transform: scale3d(1, 1, 1);}
}
@-moz-keyframes mylogotwo{
0%{transform: scale3d(1, 1, 1);}
10%{transform: scale3d(1.01, .99, 1);}
20%{transform: scale3d(1.02, .98, 1);}
30%{transform: scale3d(1.03, .97, 1);}
40%{transform: scale3d(1.04, .96, 1);}
50%{transform: scale3d(1.05, .95, 1);}
60%{transform: scale3d(1.04, .96, 1);}
70%{transform: scale3d(1.03, .97, 1);}
80%{transform: scale3d(1.02, .98, 1);}
90%{transform: scale3d(1.02, .99, 1);}
100%{transform: scale3d(1, 1, 1);}
}
@-webkit-keyframes mylogotwo{
0%{transform: scale3d(1, 1, 1);}
10%{transform: scale3d(1.01, .99, 1);}
20%{transform: scale3d(1.02, .98, 1);}
30%{transform: scale3d(1.03, .97, 1);}
40%{transform: scale3d(1.04, .96, 1);}
50%{transform: scale3d(1.05, .95, 1);}
60%{transform: scale3d(1.04, .96, 1);}
70%{transform: scale3d(1.03, .97, 1);}
80%{transform: scale3d(1.02, .98, 1);}
90%{transform: scale3d(1.02, .99, 1);}
100%{transform: scale3d(1, 1, 1);}
}

.name{
font-size: 23px;
float: left;
display: inline-block;
margin-left: 15px;
margin-top: 30px;
transition: .3s;
transform: scale3d(0.01, 0.01,1);
-o-transform: scale3d(0.01, 0.01,1);
-moz-transform: scale3d(0.01, 0.01,1);
-webkit-transform: scale3d(0.01, 0.01,1);
}

.name-hover{
font-size: 23px;
float: left;
display: inline-block;
margin-left: 15px;
margin-top: 30px;
transform: scale3d(1, 1,1);
-o-transform: scale3d(1, 1,1);
-moz-transform: scale3d(1, 1,1);
-webkit-transform: scale3d(1, 1,1);
transition: .2s;
-o-transition: .2s;
-moz-transition: .2s;
-webkit-transition: .2s;
transition-delay: .87s;
-o-transition-delay: .87s;
-moz-transition-delay: .87s;
-webkit-transition-delay: .87s;
animation-name: name;
-o-animation-name: name;
-moz-animation-name: name;
-webkit-animation-name: name;
animation-delay: .97s;
-o-animation-delay: .97s;
-moz-animation-delay: .97s;
-webkit-animation-delay: .97s;
animation-duration: .4s;
-o-animation-duration: .4s;
-moz-animation-duration: .4s;
-webkit-animation-duration: .4s;
animation-iteration-count:1;
-o-animation-iteration-count:1;
-moz-animation-iteration-count:1;
-webkit-animation-iteration-count:1;
}
@keyframes name{
0%
{transform: scale3d(1, 1, 1);}
25%
{transform: scale3d(.9, 1, 1);}
50%
{transform: scale3d(1, .9, 1);}
75%
{ transform: scale3d(.9, 1, 1);}
100%
{ transform: scale3d(1, 1, 1);}
}
@-o-keyframes name{
0%
{transform: scale3d(1, 1, 1);}
25%
{transform: scale3d(.9, 1, 1);}
50%
{transform: scale3d(1, .9, 1);}
75%
{ transform: scale3d(.9, 1, 1);}
100%
{ transform: scale3d(1, 1, 1);}
}
@-moz-keyframes name{
0%
{transform: scale3d(1, 1, 1);}
25%
{transform: scale3d(.9, 1, 1);}
50%
{transform: scale3d(1, .9, 1);}
75%
{ transform: scale3d(.9, 1, 1);}
100%
{ transform: scale3d(1, 1, 1);}
}
@-webkit-keyframes name{
0%
{transform: scale3d(1, 1, 1);}
25%
{transform: scale3d(.9, 1, 1);}
50%
{transform: scale3d(1, .9, 1);}
75%
{ transform: scale3d(.9, 1, 1);}
100%
{ transform: scale3d(1, 1, 1);}
}

.name-hover-two{
font-size: 23px;
float: left;
display: inline-block;
margin-left: 15px;
margin-top: 30px;
transform: scale3d(1, 1.1,1);
-o-transform: scale3d(1, 1.1,1);
-moz-transform: scale3d(1, 1.1,1);
-webkit-transform: scale3d(1, 1.1,1);
animation-name: namename;
-o-animation-name: namename;
-moz-animation-name: namename;
-webkit-animation-name: namename;
animation-duration: 1s;
-o-animation-duration: 1s;
-moz-animation-duration: 1s;
-webkit-animation-duration: 1s;
animation-iteration-count:infinite;
-o-animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
}
@keyframes namename{
0%{transform: scale3d(1, 1, 1);}
10%{transform: scale3d(1.01, .99, 1);}
20%{transform: scale3d(1.02, .98, 1);}
30%{transform: scale3d(1.03, .97, 1);}
40%{transform: scale3d(1.04, .96, 1);}
50%{transform: scale3d(1.05, .95, 1);}
60%{transform: scale3d(1.04, .96, 1);}
70%{transform: scale3d(1.03, .97, 1);}
80%{transform: scale3d(1.02, .98, 1);}
90%{transform: scale3d(1.02, .99, 1);}
100%{transform: scale3d(1, 1, 1);}
}
@-o-keyframes namename{
0%{transform: scale3d(1, 1, 1);}
10%{transform: scale3d(1.01, .99, 1);}
20%{transform: scale3d(1.02, .98, 1);}
30%{transform: scale3d(1.03, .97, 1);}
40%{transform: scale3d(1.04, .96, 1);}
50%{transform: scale3d(1.05, .95, 1);}
60%{transform: scale3d(1.04, .96, 1);}
70%{transform: scale3d(1.03, .97, 1);}
80%{transform: scale3d(1.02, .98, 1);}
90%{transform: scale3d(1.02, .99, 1);}
100%{transform: scale3d(1, 1, 1);}
}
@-moz-keyframes namename{
0%{transform: scale3d(1, 1, 1);}
10%{transform: scale3d(1.01, .99, 1);}
20%{transform: scale3d(1.02, .98, 1);}
30%{transform: scale3d(1.03, .97, 1);}
40%{transform: scale3d(1.04, .96, 1);}
50%{transform: scale3d(1.05, .95, 1);}
60%{transform: scale3d(1.04, .96, 1);}
70%{transform: scale3d(1.03, .97, 1);}
80%{transform: scale3d(1.02, .98, 1);}
90%{transform: scale3d(1.02, .99, 1);}
100%{transform: scale3d(1, 1, 1);}
}
@-webkit-keyframes namename{
0%{transform: scale3d(1, 1, 1);}
10%{transform: scale3d(1.01, .99, 1);}
20%{transform: scale3d(1.02, .98, 1);}
30%{transform: scale3d(1.03, .97, 1);}
40%{transform: scale3d(1.04, .96, 1);}
50%{transform: scale3d(1.05, .95, 1);}
60%{transform: scale3d(1.04, .96, 1);}
70%{transform: scale3d(1.03, .97, 1);}
80%{transform: scale3d(1.02, .98, 1);}
90%{transform: scale3d(1.02, .99, 1);}
100%{transform: scale3d(1, 1, 1);}
}

.type-it{
margin: 10px 10px 70px 10px;
text-align: left;
border-radius: 15px;
padding: 5px;
}
/*.type-it-hover{
margin: 10px 10px 40px 10px;
font-size: 17px;
text-align: left;
border-radius: 15px;
padding: 5px;
transition: .4s;
-o-transition: .4s;
-moz-transition: .4s;
-webkit-transition: .4s;
transform: translate3d(0, 0%, 0);
-o-transform: translate3d(0, 0%, 0);
-moz-transform: translate3d(0, 0%, 0);
-webkit-transform: translate3d(0, 0%, 0);
transition-delay: .97s;
-o-animation-delay: .97s;
-moz-animation-delay: .97s;
-webkit-animation-delay: .97s;
}*/


.typeall{
margin: 5px 3px 5px 3px;
padding: 10px;
font-size: 16px;
border-radius: 10px;
border-top-right-radius: 10px;
background-color:rgba(125, 140, 150, 0.03);
box-shadow:0 1px 12px rgba(32, 33, 36, 0.15);
}

.theme{
font-size: 15px;
margin: 3px;
}

.date{
margin-top: 2px;
font-size: 13px;
padding: 4px;
color: #cb4343;
border-radius: 3px;
border: 1px solid #cb4343;
width: 60px;
}

.aaag{
font-size: 12px;
font-weight: 500;
color: #000;
text-shadow:none;
font-family:-apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.aaaj{
top: 0;
right: 0;
bottom: 0;
position: fixed;
width: 70%;
height: 100%;
z-index: 4;
box-shadow:0 1px 6px rgba(32, 33, 36, 0.10);
background-color:rgba(224, 224, 230, 1);
transform: translate3d(100%, 0, 0px);
transition: .3s;
}

.aaaj2{
top: 0;
right: 0;
bottom: 0;
width: 55%;
height: 100%;
position: fixed;
z-index: 4;
transition: .3s;
box-shadow:0 1px 6px rgba(32, 33, 36, 0.10);
background-color:rgba(224, 224, 230, 1);
transform: translate3d(0px, 0, 0);
}

.touchtocancel{
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index:3;
cursor: pointer;
width: 100%;
height: 100%;
position: fixed;
z-index: 3;
background-color:rgba(40,44,52,0.8);
}
.touchtocancelnone{
display: none;
}


.socialarea{
position: relative;
height: 100%;
width: 55%;
}

.sociallinks1{
transform: translateY(-60px) rotate3d(.5, 0, 0, 90deg);
margin-top: 50px;
margin-bottom: 70px;
padding: 10px;
transition-delay: .0s;
transition: .0s;
border-radius: 13px;
font-size: 30px;
box-shadow:0 1px 12px rgba(32, 33, 36, 0.15);

}
.sociallinks{
transition: .3s;
transition-delay: .4s;
transform: translateY(0px) rotate3d(.5, 0, 0, 0deg);
margin-top: 50px;
margin-bottom: 70px;
padding: 10px;
border-radius: 13px;
font-size: 30px;
box-shadow:0 1px 12px rgba(32, 33, 36, 0.15);
}

.socials1,
.socials2,
.socials3{
color: #fff;
text-shadow: 
			-0.8px/* - mean left */ -0.8px/*- mean up */ 4px/* + mean more blur */ rgba(0, 0, 0, 0.4),
			1.3px 1.3px 3px rgba(0, 0, 0, 0.8);
margin-top: 20px; 
color: #fff;
padding: 5px 5px 13px 5px;
height: 42px; 
width: 52px;
box-shadow:0 1px 12px rgba(32, 33, 36, 0.35);
border-radius: 13px;
transform: scale3d(0, 0, 1);
}

.socials1tweet{
color: #fff;
text-shadow: 
			-0.8px/* - mean left */ -0.8px/*- mean up */ 4px/* + mean more blur */ rgba(0, 0, 0, 0.4),
			1.3px 1.3px 3px rgba(0, 0, 0, 0.8);
margin-top: 20px; 
color: #fff;
padding: 5px 5px 13px 5px;
height: 42px; 
width: 52px;
box-shadow:0 1px 12px rgba(32, 33, 36, 0.35);
border-radius: 13px;
transform: scale3d(1, 1, 1);
transition: .3s;
transition-delay: .5s;
animation-name: twitter;
animation-duration: .2s;
animation-delay: .55s;
animation-iteration-count:1;
}
@keyframes twitter{
0%{transform: scale3d(1, 1, 1);}
50%{transform: scale3d(1.3, 1.3, 1);}/*this is middle*/
100%{transform: scale3d(1, 1, 1);}
}
.socials2insta{
color: #fff;
text-shadow: 
			-0.8px/* - mean left */ -0.8px/*- mean up */ 4px/* + mean more blur */ rgba(0, 0, 0, 0.4),
			1.3px 1.3px 3px rgba(0, 0, 0, 0.8);
margin-top: 20px; 
color: #fff;
padding: 5px 5px 13px 5px;
height: 42px; 
width: 52px;
box-shadow:0 1px 12px rgba(32, 33, 36, 0.35);
border-radius: 13px;
transform: scale3d(1, 1, 1);
transition: .3s;
transition-delay: .6s;
animation-name: insta;
animation-duration: .2s;
animation-delay: .65s;
animation-iteration-count:1;
}
@keyframes insta{
0%{transform: scale3d(1, 1, 1);}
50%{transform: scale3d(1.3, 1.3, 1);}/*this is middle*/
100%{transform: scale3d(1, 1, 1);}
}
.socials3github{
color: #fff;
text-shadow: 
			-0.8px/* - mean left */ -0.8px/*- mean up */ 4px/* + mean more blur */ rgba(0, 0, 0, 0.4),
			1.3px 1.3px 3px rgba(0, 0, 0, 0.8);
margin-top: 20px; 
color: #fff;
padding: 5px 5px 13px 5px;
height: 42px; 
width: 52px;
box-shadow:0 1px 12px rgba(32, 33, 36, 0.35);
border-radius: 13px;
transform: scale3d(1, 1, 1);
transition: .3s;
transition-delay: .7s;
animation-name: github;
animation-duration: .2s;
animation-delay: .75s;
animation-iteration-count:1;
}
@keyframes github{
0%{transform: scale3d(1, 1, 1);}
50%{transform: scale3d(1.3, 1.3, 1);}/*this is middle*/
100%{transform: scale3d(1, 1, 1);}
}

.socials1 a, 
.socials1tweet a{
text-decoration: none;
color:#b3bffa;
font-size: 50px;
}

.socials2 a,
.socials2insta a{
text-decoration: none;
color:#e9a1f7;
font-size: 50px;
}

.socials3 a,
.socials3github a{
text-decoration: none;
font-size: 50px;
color: #cccccc;
}

.socials1 a:hover,
.socials1tweet a:hover,
.socials2 a:hover,
.socials2insta a:hover,
.socials3 a:hover,
.socials3github a:hover{
text-shadow:none;
color: #999;
}


.copyrightsc{
margin-top: 15rem;
font-size: 10px;
}

.load-page{
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 3;
background-color: rgb(252, 251, 255);
transform: translate3d(0, 0%, 0);
-o-transform: translate3d(0, 0%, 0);
-moz-transform: translate3d(0, 0%, 0);
-webkit-transform: translate3d(0, 0%, 0);
transition: .3s;
-o-transition: .3s;
-moz-transition: .3s;
-webkit-transition: .3s;
}

.load-page-hover{
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 3;
background-color: rgb(252, 251, 255);
transform: translate3d(0, 120%, 0);
-o-transform: translate3d(0, 120%, 0);
-moz-transform: translate3d(0, 120%, 0);
-webkit-transform: translate3d(0, 120%, 0);
transition: .3s;
-o-transition: .3s;
-moz-transition: .3s;
-webkit-transition: .3s;
transition-delay: .3s;
-o-transition-delay: .3s;
-moz-transition-delay: .3s;
-webkit-transition-delay: .3s;
}

.load-page-in{
overflow: scroll;
-o-overflow: scroll;
-moz-overflow: scroll;
-webkit-overflow: scroll;
margin-top: 15px;
height: 100%;
width: 90%;
}

#btn-close{ 
width: 220px;}

.btn-close{
width: 200px;
margin-top: 10px;
color: #000;
padding: 12px;
cursor: pointer;
font-size: 16px;
border-radius: 15px;
transform: scale3d(1, 1.1, 1);
-o-transform: scale3d(1, 1.1, 1);
-moz-transform: scale3d(1, 1.1, 1);
-webkit-transform: scale3d(1, 1.1, 1);
box-shadow:0 1px 6px rgba(32, 33, 36, 0.18);
background-color: #dcdcdc;
animation-name: btn-closeit;
-o-animation-name: btn-closeit;
-moz-animation-name: btn-closeit;
-webkit-animation-name: btn-closeit;
animation-duration: 1s;
-o-animation-duration: 1s;
-moz-animation-duration: 1s;
-webkit-animation-duration: 1s;
animation-iteration-count:infinite;
-o-animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
}

@keyframes btn-closeit{
0%{transform: scale3d(1, 1.1, 1);}
5%{transform: scale3d(1.01, 1.09, 1);}
10%{transform: scale3d(1.02, 1.08, 1);}
15%{transform: scale3d(1.03, 1.07, 1);}
20%{transform: scale3d(1.04, 1.06, 1);}
25%{transform: scale3d(1.05, 1.05, 1);}
30%{transform: scale3d(1.06, 1.04, 1);}
35%{transform: scale3d(1.07, 1.03, 1);}
40%{transform: scale3d(1.08, 1.02, 1);}
45%{transform: scale3d(1.09, 1.01, 1);}
50%{transform: scale3d(1.1, 1, 1);}
55%{transform: scale3d(1.09, 1.01, 1);}
60%{transform: scale3d(1.08, 1.02, 1);}
65%{transform: scale3d(1.07, 1.03, 1);}
70%{transform: scale3d(1.06, 1.04, 1);}
75%{transform: scale3d(1.05, 1.05, 1);}
80%{transform: scale3d(1.04, 1.06, 1);}
85%{transform: scale3d(1.03, 1.07, 1);}
90%{transform: scale3d(1.02, 1.08, 1);}
95%{transform: scale3d(1.01, 1.09, 1);}
100%{transform: scale3d(1, 1.1, 1);}
}
@-o-keyframes btn-closeit{
0%{transform: scale3d(1, 1.1, 1);}
5%{transform: scale3d(1.01, 1.09, 1);}
10%{transform: scale3d(1.02, 1.08, 1);}
15%{transform: scale3d(1.03, 1.07, 1);}
20%{transform: scale3d(1.04, 1.06, 1);}
25%{transform: scale3d(1.05, 1.05, 1);}
30%{transform: scale3d(1.06, 1.04, 1);}
35%{transform: scale3d(1.07, 1.03, 1);}
40%{transform: scale3d(1.08, 1.02, 1);}
45%{transform: scale3d(1.09, 1.01, 1);}
50%{transform: scale3d(1.1, 1, 1);}
55%{transform: scale3d(1.09, 1.01, 1);}
60%{transform: scale3d(1.08, 1.02, 1);}
65%{transform: scale3d(1.07, 1.03, 1);}
70%{transform: scale3d(1.06, 1.04, 1);}
75%{transform: scale3d(1.05, 1.05, 1);}
80%{transform: scale3d(1.04, 1.06, 1);}
85%{transform: scale3d(1.03, 1.07, 1);}
90%{transform: scale3d(1.02, 1.08, 1);}
95%{transform: scale3d(1.01, 1.09, 1);}
100%{transform: scale3d(1, 1.1, 1);}
}
@-moz-keyframes btn-closeit{
0%{transform: scale3d(1, 1.1, 1);}
5%{transform: scale3d(1.01, 1.09, 1);}
10%{transform: scale3d(1.02, 1.08, 1);}
15%{transform: scale3d(1.03, 1.07, 1);}
20%{transform: scale3d(1.04, 1.06, 1);}
25%{transform: scale3d(1.05, 1.05, 1);}
30%{transform: scale3d(1.06, 1.04, 1);}
35%{transform: scale3d(1.07, 1.03, 1);}
40%{transform: scale3d(1.08, 1.02, 1);}
45%{transform: scale3d(1.09, 1.01, 1);}
50%{transform: scale3d(1.1, 1, 1);}
55%{transform: scale3d(1.09, 1.01, 1);}
60%{transform: scale3d(1.08, 1.02, 1);}
65%{transform: scale3d(1.07, 1.03, 1);}
70%{transform: scale3d(1.06, 1.04, 1);}
75%{transform: scale3d(1.05, 1.05, 1);}
80%{transform: scale3d(1.04, 1.06, 1);}
85%{transform: scale3d(1.03, 1.07, 1);}
90%{transform: scale3d(1.02, 1.08, 1);}
95%{transform: scale3d(1.01, 1.09, 1);}
100%{transform: scale3d(1, 1.1, 1);}
}
@-webkit-keyframes btn-closeit{
0%{transform: scale3d(1, 1.1, 1);}
5%{transform: scale3d(1.01, 1.09, 1);}
10%{transform: scale3d(1.02, 1.08, 1);}
15%{transform: scale3d(1.03, 1.07, 1);}
20%{transform: scale3d(1.04, 1.06, 1);}
25%{transform: scale3d(1.05, 1.05, 1);}
30%{transform: scale3d(1.06, 1.04, 1);}
35%{transform: scale3d(1.07, 1.03, 1);}
40%{transform: scale3d(1.08, 1.02, 1);}
45%{transform: scale3d(1.09, 1.01, 1);}
50%{transform: scale3d(1.1, 1, 1);}
55%{transform: scale3d(1.09, 1.01, 1);}
60%{transform: scale3d(1.08, 1.02, 1);}
65%{transform: scale3d(1.07, 1.03, 1);}
70%{transform: scale3d(1.06, 1.04, 1);}
75%{transform: scale3d(1.05, 1.05, 1);}
80%{transform: scale3d(1.04, 1.06, 1);}
85%{transform: scale3d(1.03, 1.07, 1);}
90%{transform: scale3d(1.02, 1.08, 1);}
95%{transform: scale3d(1.01, 1.09, 1);}
100%{transform: scale3d(1, 1.1, 1);}
}

.btn-close-hover{
width: 200px;
margin-top: 10px;
color: #000;
cursor: pointer;
padding: 12px;
font-size: 16px;
border: 2px solid #dcdcdc;
border-radius: 15px;
background-color: #dcdcdc;
animation-name: btn-close-hover;
-o-animation-name: btn-close-hover;
-moz-animation-name: btn-close-hover;
-webkit-animation-name: btn-close-hover;
animation-duration: .3s;
-o-animation-duration: .3s;
-moz-animation-duration: .3s;
-webkit-animation-duration: .3s;
animation-iteration-count:1;
-o-animation-iteration-count:1;
-moz-animation-iteration-count:1;
-webkit-animation-iteration-count:1;
}
@keyframes btn-close-hover{
0%
{transform: scale3d(0.85, 0.85, 1);}
50%
{transform: scale3d(1, 1, 1);}
75%
{transform: scale3d(0.95, 0.95, 1);}
100%
{ transform: scale3d(1, 1, 1);}
}
@-o-keyframes btn-close-hover{
0%
{transform: scale3d(0.85, 0.85, 1);}
50%
{transform: scale3d(1, 1, 1);}
75%
{transform: scale3d(0.95, 0.95, 1);}
100%
{ transform: scale3d(1, 1, 1);}
}
@-moz-keyframes btn-close-hover{
0%
{transform: scale3d(0.85, 0.85, 1);}
50%
{transform: scale3d(1, 1, 1);}
75%
{transform: scale3d(0.95, 0.95, 1);}
100%
{ transform: scale3d(1, 1, 1);}
}
@-webkit-keyframes btn-close-hover{
0%
{transform: scale3d(0.85, 0.85, 1);}
50%
{transform: scale3d(1, 1, 1);}
75%
{transform: scale3d(0.95, 0.95, 1);}
100%
{ transform: scale3d(1, 1, 1);}
}
/*
#
#
# Messages Style
#
#
*/

body {
flex-direction: column;
}
.btn-close-fast-place{
position: relative;
width: 320px;
margin-top: 20px;
margin-bottom: 15px;
}
.btn-close-fast{
width: 30px;
height: 30px;
border-radius: 50%;
float: right;
font-size: 30px;
}
.messages {
width: 300px;
padding: 5px;
text-align: left;
font-size: 15px;
margin-left: -20px;
}
.bubble {
overflow: hidden;
display: inline-block;
margin: .5rem 0 .5rem 0;
padding-left: 10px;
padding-top: 10px;
padding-right: 2.5px;
padding-bottom: 2.5px;
border-radius: 1.25rem;
transition: border-radius .25s ease-out .075s;
}
.bubble.left.cornered {
border-bottom-left-radius: 0;
}
.bubble.left {
background: rgba(206,206,206,0.50);
}
.bubble:after {
content: "";
position: absolute;
bottom: 0;
width: .3rem;
height: .5rem;
background-size: .5rem .5rem;
background-position: .5rem 0;
background-repeat: no-repeat;
transition: background-position .15s ease-in;
}
.bubble.cornered:after {
background-position: 0 0;
}
.bubble span {
display: block;
}
.bubble span.message {
opacity: 0;
}
.bubble a {
color: #0076FF;
}
.bubble .loading {
position: absolute;
width: 2.25rem;
font-size: 15px;
}
.bubble .loading b {
display: inline-block;
color: rgba(0,0,0,.5);
}
